* {
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#template {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card {
  width: 250px;
  height: 400px;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

h2 {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.logo,
.text,
.btn,
.title {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 40px;
}

.btn {
  border: solid 2px hsl(0, 0%, 95%);
  border-radius: 20px;
  height: 40px;
  width: 130px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#card-sedan {
  background-color: hsl(31, 77%, 52%);
}

#card-sedan .btn {
  color: hsl(31, 77%, 52%);
}

#card-sedan .btn:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

#card-suv {
  background-color: hsl(184, 100%, 22%);
}

#card-suv .btn {
  color: hsl(184, 100%, 22%);
}

#card-suv .btn:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

#card-lux {
  background-color: hsl(179, 100%, 13%);
}

#card-lux .btn {
  color: hsl(179, 100%, 13%);
}

#card-lux .btn:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

@media only screen and (max-width: 600px) {
  
    #template {   
    
    flex-direction:column ;

    }
  }